.searchBar {
    display: flex;
    column-gap: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
} 

input{
    width: 30rem;
    border: none;
    outline: none;
}

